.validation-message {
    color: #f44336;
    margin: 0;
    font-size: .8rem;
    margin-top: 3px;
    text-align: start;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: .03333em;
}

.semi-bold-text {
    font-weight: 700;
}

@font-face {
    font-family: 'Borned';
    src: url(../fonts/Borned.otf);
}

.brand-text {
    font-family: "Borned", "Montserrat", "Helvetica", "Arial", "sans-serif";
    font-size: 1.5em;
    user-select: none;
    letter-spacing: .5rem;
    margin-left: 14px;
}

.bottom-spacing {
    margin-bottom: 25px; 
}
