<MudHidden Breakpoint="Breakpoint.SmAndDown">
    @*<MudText Typo="Typo.h6" Class="ml-4" Style="letter-spacing: .5rem; font-weight: 300; margin-left: 12px; font-size: 24px; user-select: none;">Elevate OTT</MudText>*@
    <div class="brand-text">Elevate OTT</div>
</MudHidden>
<MudLink Href="/">
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <img height="42" width="42" src="images/brand.png" />
    </MudHidden>
</MudLink>

@code {

}
