@page "/content/videos"


<h3>Videos</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateVideo">Create Video</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetVideo">Get Video</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetVideosByTenant">Get Videos By Tenant</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateVideo">Update Video</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="DeleteVideo">Delete Video</MudButton>

<MudButton Variant="Variant.Filled" Color="Color.Primary">Test</MudButton>

@* <MudTabs Elevation="1" Rounded="true" PanelClass="pa-6">
    <MudTabPanel>
    <ChildContent>
    <MudText>Custom tab content only</MudText>
    </ChildContent>
    <TabContent>
    Item One
    </TabContent>
    </MudTabPanel>
    <MudTabPanel>
    <ChildContent>
    <MudText>Both custom tab and wrapper content</MudText>
    </ChildContent>
    <TabWrapperContent>
    <MudTooltip Text="ToolTip Two">
    @context
    </MudTooltip>
    </TabWrapperContent>
    <TabContent>
    <MudText Typo="Typo.h6">Item Two</MudText>
    </TabContent>
    </MudTabPanel>
    <MudTabPanel Text="Item Three">
    <ChildContent>
    <MudText>Custom wrapper content only</MudText>
    </ChildContent>
    <TabWrapperContent>
    <MudTooltip Text="ToolTip Three">
    @context
    </MudTooltip>
    </TabWrapperContent>
    </MudTabPanel>
    </MudTabs> *@

<MudTabs Outlined="true" 
        Elevation="2"   
        Position="@Position" 
        Rounded="true" 
        Border="true" 
        ApplyEffectsToContainer="true" 
        Class="mt-8"
        PanelClass="pa-6" 
        HeaderPosition="@HeaderPosition">  
    <ChildContent>        
        <MudTabPanel>
            <TabContent>
                <MudText>Videos</MudText>
            </TabContent>
            <ChildContent>
                <div class="d-flex flex-column flex-grow-1 gap-8">
                   
                    <VideoList />
                </div>
            </ChildContent>
        </MudTabPanel>
          <MudTabPanel>
            <TabContent>
                <MudText>Collections</MudText>
            </TabContent>
            <ChildContent>
                <MudText>collections</MudText>
            </ChildContent>
        </MudTabPanel>
          <MudTabPanel>
            <TabContent>
                <MudText>Categories</MudText>
            </TabContent>
            <ChildContent>
                <MudText>categories</MudText>
            </ChildContent>
        </MudTabPanel>
          <MudTabPanel>
            <TabContent>
                <MudText>Extras</MudText>
            </TabContent>
            <ChildContent>
                <MudText>extras</MudText>
            </ChildContent>
        </MudTabPanel>
          <MudTabPanel>
            <TabContent>
                <MudText>Authors</MudText>
            </TabContent>
            <ChildContent>
                <MudText>authors</MudText>
            </ChildContent>
        </MudTabPanel>
          <MudTabPanel>
            <TabContent>
                <MudText>Custom Filters</MudText>
            </TabContent>
            <ChildContent>
                <MudText>customer filters</MudText>
            </ChildContent>
        </MudTabPanel>
    </ChildContent>
</MudTabs>

