@page "/subscriptionplantest"

<h3>Subscription Plan Test</h3>

<div class="d=flex flex-column gap-2">
    <MudButton OnClick="SignUpFreeTrial" Variant="Variant.Filled" Color="Color.Primary">Free Trial</MudButton>
    <MudButton OnClick="SignUpStandardMonthly" Variant="Variant.Filled" Color="Color.Primary">Standard Plan Monthly</MudButton>
    <MudButton OnClick="SignUpStandardYearly" Variant="Variant.Filled" Color="Color.Primary">Standard Plan Yearly</MudButton>
    <MudButton OnClick="SignUpProfessionalMonthly" Variant="Variant.Filled" Color="Color.Primary">Professional Plan Monthly</MudButton>
    <MudButton OnClick="SignUpProfessionalYearly" Variant="Variant.Filled" Color="Color.Primary">Professional Plan Yearly</MudButton>
    <MudButton OnClick="SignUpEliteMonthly" Variant="Variant.Filled" Color="Color.Primary">Elite Plan Monthly</MudButton>
    <MudButton OnClick="SignUpEliteYearly" Variant="Variant.Filled" Color="Color.Primary">Elite Plan Yearly</MudButton>

    <MudButton OnClick="SignUpRokuMonthly" Variant="Variant.Filled" Color="Color.Primary">Roku Monthly</MudButton>
    <MudButton OnClick="SignUpRokuYearly" Variant="Variant.Filled" Color="Color.Primary">Roku Yearly</MudButton>
</div>


@code {
    private void SignUpFreeTrial()
    {
        System.Console.WriteLine("SignUpFreeTrial");
    }
    private void SignUpStandardMonthly()
    {
        System.Console.WriteLine("SignUpStandardMonthly");

    }
    private void SignUpStandardYearly()
    {
        System.Console.WriteLine("SignUpStandardYearly");

    }
    private void SignUpProfessionalMonthly()
    {
        System.Console.WriteLine("SignUpProfessionalMonthly");

    }
    private void SignUpProfessionalYearly()
    {
        System.Console.WriteLine("SignUpProfessionalYearly");

    }
    private void SignUpEliteMonthly()
    {
        System.Console.WriteLine("SignUpEliteMonthly");

    }
    private void SignUpEliteYearly()
    {
        System.Console.WriteLine("SignUpEliteYearly");

    }

    private void SignUpRokuMonthly()
    {
        System.Console.WriteLine("SignUpRokuMonthly");

    }

    private void SignUpRokuYearly()
    {
        System.Console.WriteLine("SignUpRokuYearly");

    }

}
