@page "/channel-info"

<h3>Channel Info</h3>


<MudButton OnClick="ChangeChannelNameHandler" Variant="Variant.Filled" Color="Color.Primary">Submit</MudButton>


@code {
    private void ChangeChannelNameHandler()
    {
        System.Console.WriteLine("ChangeChannelNameHandler");
    }
}
