<section id="iq-favorites">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 overflow-hidden">
                <div class="d-flex align-items-center justify-content-between">
                <h4 class="main-title">Featured Videos</h4>
                <a href="view-all.html" class="text-primary iq-view-all">View All</a>
                </div>
            </div>
        </div>

        <!-- Swiper -->
        <div class="favourite-slider">
            <div  class="swiper pt-2 pt-md-4 pt-lg-4 iq-rtl-direction" data-swiper="common-slider">
                <ul class="swiper-wrapper p-0 m-0 ">
                <li class="swiper-slide slide-item">
                    <div class="block-images position-relative ">
                        <div class="img-box">
                            <img src="https://image.mux.com/vUbcN894HET1Nt37d2C51vWrzIOtypeFEKu5F01QRjG4/thumbnail.png?width=1920&height=1000&fit_mode=pad" class="img-fluid" alt="" loading="lazy">
                        </div>
                        <div class="block-description">
                            <h6 class="iq-title"><a href="show-detail.html">20 Min Full Body Workout</a></h6>
                            <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">1hr : 50mins</span>
                            </div>
                            <div class="hover-buttons">
                            <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                class="fa fa-play mr-1" aria-hidden="true"></i>
                            Play Now
                            </a>
                            </div>
                        </div>
                        <div class="block-social-info">
                            <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                    <div class="d-flex align-items-center">
                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-facebook-fill"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-twitter-fill"></i></a>
                                        <a href="#"
                                        data-link="https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                        class="ri-links-fill"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><i class="ri-heart-fill"></i></span>
                                <span class="count-box">2+</span>
                            </li>
                            <li><span><i class="ri-add-line"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide slide-item">
                    <div class="block-images position-relative ">
                        <div class="img-box">
                            <img src="https://image.mux.com/w7E4EYAtsVY5LITxkdMwrOFO3ohBdjyWXmMlaBDxwQY/thumbnail.png?width=1920&height=1000&fit_mode=pad" class="img-fluid" alt="" loading="lazy">
                        </div>
                        <div class="block-description">
                            <h6 class="iq-title"><a href="show-detail.html">10 Min Perfect Abs Workout</a></h6>
                            <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">3hr : 10mins</span>
                            </div>
                            <div class="hover-buttons">
                            <a href="show-detail.html" role="button" class="btn btn-hover">
                            <i class="fa fa-play mr-1" aria-hidden="true"></i>
                            Play Now
                            </a>
                            </div>
                        </div>
                        <div class="block-social-info">
                            <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                    <div class="d-flex align-items-center">
                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-facebook-fill"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-twitter-fill"></i></a>
                                        <a href="#"
                                        data-link="https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                        class="ri-links-fill"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><i class="ri-heart-fill"></i></span>
                                <span class="count-box">0</span>
                            </li>
                            <li><span><i class="ri-add-line"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide slide-item">
                    <div class="block-images position-relative ">
                        <div class="img-box">
                            <img src="https://image.mux.com/u4mzZBxhAac2euEotHVWXcc32MUReV92v023pNWPOXuI/thumbnail.png?width=1920&height=1000&fit_mode=pad" class="img-fluid" alt="" loading="lazy">
                        </div>
                        <div class="block-description">
                            <h6 class="iq-title"><a href="show-detail.html">Beginner Ab Workout</a></h6>
                            <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">3hr : 10mins</span>
                            </div>
                            <div class="hover-buttons">
                            <a href="show-detail.html" role="button" class="btn btn-hover">
                            <i class="fa fa-play mr-1" aria-hidden="true"></i>
                            Play Now
                            </a>
                            </div>
                        </div>
                        <div class="block-social-info">
                            <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                    <div class="d-flex align-items-center">
                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-facebook-fill"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-twitter-fill"></i></a>
                                        <a href="#"
                                        data-link="https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                        class="ri-links-fill"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><i class="ri-heart-fill"></i></span>
                                <span class="count-box">0</span>
                            </li>
                            <li><span><i class="ri-add-line"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide slide-item">
                    <div class="block-images position-relative">
                        <div class="img-box">
                            <img src="https://image.mux.com/dp4BAt9xJjLjNVPjndFaj7a5j7vL02UuF1d2oBN5NIqI/thumbnail.png?width=1920&height=1000&fit_mode=pad" class="img-fluid" alt="" loading="lazy">
                        </div>
                        <div class="block-description">
                            <h6 class="iq-title"><a href="show-detail.html">Half An Hour Weight Loss</a></h6>
                            <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">1hr : 45mins</span>
                            </div>
                            <div class="hover-buttons">
                            <a href="show-detail.html" role="button" class="btn btn-hover">
                            <i class="fa fa-play mr-1" aria-hidden="true"></i>
                            Play Now
                            </a>
                            </div>
                        </div>
                        <div class="block-social-info">
                            <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                    <div class="d-flex align-items-center">
                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-facebook-fill"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-twitter-fill"></i></a>
                                        <a href="#"
                                        data-link="https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                        class="ri-links-fill"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><i class="ri-heart-fill"></i></span>
                                <span class="count-box">25+</span>
                            </li>
                            <li><span><i class="ri-add-line"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide slide-item">
                    <div class="block-images position-relative">
                        <div class="img-box">
                            <img src="https://image.mux.com/Miu58dnUS00JJUBs89rwZQTWC49XXpnTYWxM765GIAjU/thumbnail.png?width=1920&height=1000&fit_mode=pad" class="img-fluid" alt="" loading="lazy">
                        </div>
                        <div class="block-description">
                            <h6 class="iq-title"><a href="show-detail.html">8 Best Standing Exercises Belly Fat Workout To Lose Weight</a></h6>
                            <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">1hr : 22mins</span>
                            </div>
                            <div class="hover-buttons">
                            <a href="show-detail.html" role="button" class="btn btn-hover">
                            <i class="fa fa-play mr-1" aria-hidden="true"></i>
                            Play Now
                            </a>
                            </div>
                        </div>
                        <div class="block-social-info">
                            <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                    <div class="d-flex align-items-center">
                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-facebook-fill"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-twitter-fill"></i></a>
                                        <a href="#"
                                        data-link="https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                        class="ri-links-fill"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><i class="ri-heart-fill"></i></span>
                                <span class="count-box">0</span>
                            </li>
                            <li><span><i class="ri-add-line"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide slide-item">
                    <div class="block-images position-relative">
                        <div class="img-box">
                            <img src="https://image.mux.com/mpBlH00ZCDvmagion44Pe3DWzpC0202dvbgIm4XQO6EocM/thumbnail.png?width=1920&height=1000&fit_mode=pad" class="img-fluid" alt="" loading="lazy">
                        </div>
                        <div class="block-description">
                            <h6 class="iq-title"><a href="show-detail.html">8 Best Standing Exercises Belly Fat Workout To Lose Weight</a></h6>
                            <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">1h 45mins</span>
                            </div>
                            <div class="hover-buttons">
                            <a href="show-detail.html" role="button" class="btn btn-hover">
                            <i class="fa fa-play mr-1" aria-hidden="true"></i>
                            Play Now
                            </a>
                            </div>
                        </div>
                        <div class="block-social-info">
                            <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                    <div class="d-flex align-items-center">
                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-facebook-fill"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-twitter-fill"></i></a>
                                        <a href="#"
                                        data-link="https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                        class="ri-links-fill"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><i class="ri-heart-fill"></i></span>
                                <span class="count-box">0</span>
                            </li>
                            <li><span><i class="ri-add-line"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide slide-item">
                    <div class="block-images position-relative">
                        <div class="img-box">
                            <img src="https://image.mux.com/mpk800ueYl1l01D45oo301PinCM4uGzsH00V8YAwbLCqzIo/thumbnail.png?width=1920&height=1000&fit_mode=pad" class="img-fluid" alt="" loading="lazy">
                        </div>
                        <div class="block-description">
                            <h6 class="iq-title"><a href="show-detail.html">20 Min Full Body Workout</a></h6>
                            <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">1hr : 45mins</span>
                            </div>
                            <div class="hover-buttons">
                            <a href="show-detail.html" role="button" class="btn btn-hover">
                            <i class="fa fa-play mr-1" aria-hidden="true"></i>
                            Play Now
                            </a>
                            </div>
                        </div>
                        <div class="block-social-info">
                            <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                    <div class="d-flex align-items-center">
                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-facebook-fill"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-twitter-fill"></i></a>
                                        <a href="#"
                                        data-link="https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                        class="ri-links-fill"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><i class="ri-heart-fill"></i></span>
                                <span class="count-box">25+</span>
                            </li>
                            <li><span><i class="ri-add-line"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide slide-item">
                    <div class="block-images position-relative">
                        <div class="img-box">
                            <img src="https://image.mux.com/EfUy95Vs3Qn5rOteHSDHkH1WCkf8886JflGUPU6NiRA/thumbnail.png?width=1920&height=1000&fit_mode=pad" class="img-fluid" alt="" loading="lazy">
                        </div>
                        <div class="block-description">
                            <h6 class="iq-title"><a href="show-detail.html">Half An Hour Weight Loss</a></h6>
                            <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">1hr : 22mins</span>
                            </div>
                            <div class="hover-buttons">
                            <a href="show-detail.html" role="button" class="btn btn-hover">
                            <i class="fa fa-play mr-1" aria-hidden="true"></i>
                            Play Now
                            </a>
                            </div>
                        </div>
                        <div class="block-social-info">
                            <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                    <div class="d-flex align-items-center">
                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-facebook-fill"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-twitter-fill"></i></a>
                                        <a href="#"
                                        data-link="https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                        class="ri-links-fill"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><i class="ri-heart-fill"></i></span>
                                <span class="count-box">0</span>
                            </li>
                            <li><span><i class="ri-add-line"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide slide-item">
                    <div class="block-images position-relative">
                        <div class="img-box">
                            <img src="https://image.mux.com/5Ixt9G01aWgzSmPaIJlApMQe02PsNBVYO68HLYUTOXfEo/thumbnail.png?width=1920&height=1000&fit_mode=pad" class="img-fluid" alt="" loading="lazy">
                        </div>
                        <div class="block-description">
                            <h6 class="iq-title"><a href="show-detail.html">10 Min Boxing Workout</a></h6>
                            <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">1h 45mins</span>
                            </div>
                            <div class="hover-buttons">
                            <a href="show-detail.html" role="button" class="btn btn-hover">
                            <i class="fa fa-play mr-1" aria-hidden="true"></i>
                            Play Now
                            </a>
                            </div>
                        </div>
                        <div class="block-social-info">
                            <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                    <div class="d-flex align-items-center">
                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-facebook-fill"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-twitter-fill"></i></a>
                                        <a href="#"
                                        data-link="https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                        class="ri-links-fill"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><i class="ri-heart-fill"></i></span>
                                <span class="count-box">0</span>
                            </li>
                            <li><span><i class="ri-add-line"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide slide-item">
                    <div class="block-images position-relative ">
                        <div class="img-box">
                            <img src="https://image.mux.com/b0078p009tk3pZUvz4sQmtUTUo6pj9QkGCmdPeBO5t3rU/thumbnail.png?width=1920&height=1000&fit_mode=pad" class="img-fluid" alt="" loading="lazy">
                        </div>
                        <div class="block-description">
                            <h6 class="iq-title"><a href="show-detail.html">Couples Yoga Challenge</a></h6>
                            <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">1hr : 50mins</span>
                            </div>
                            <div class="hover-buttons">
                            <a href="show-detail.html" role="button" class="btn btn-hover"><i
                                class="fa fa-play mr-1" aria-hidden="true"></i>
                            Play Now
                            </a>
                            </div>
                        </div>
                        <div class="block-social-info">
                            <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                    <div class="d-flex align-items-center">
                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-facebook-fill"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-twitter-fill"></i></a>
                                        <a href="#"
                                        data-link="https://iqonic.design/wp-themes/elevate-ott_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                        class="ri-links-fill"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span><i class="ri-heart-fill"></i></span>
                                <span class="count-box">2+</span>
                            </li>
                            <li><span><i class="ri-add-line"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                </ul>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>

@code {

}
